* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  min-width: 990px;
}

#navbar {
  height: 60px;
  /* line-height: 60px;   */
  
}

#navbar #logo {
  padding-left: 30px;
  float: left;
}

#navbar #logo img {
  vertical-align: middle;
  height: 60px;
}

#navbar #menu ul {
  float: right;
  list-style: none;
  margin: 30;
}

#navbar #menu li {
  float: left;
  margin-left: 30px;
  
}

#navbar #menu ul a {
  text-decoration: none;
  color: black;
  font-size: 23px;
  font-style: Helvetica;
}

#navbar #menu ul a:hover {
  background-color: rgb(225, 228, 175);
}

#navbar #menu ul li:last-child {
  margin-right: 30px;
}

#header_img {
  width: 100%;
  height: 800px;
  background-image: url('../0209 과제/image/배경1.png');
  background-size: cover;
  background-position: center;
  margin: 30px;
}

#toasts {
  width: 1000px;
  background-position: center;
  margin: 0 auto;
  align-items: center;
}

#toasts .introduce h2 {
  text-align: left;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 26px;
  color: rgb(178, 36, 36);
}

#toasts .toast_list .toast {
  height: 300px;
  float: left;
  margin-top: 80px;
  margin-left: 100px;
}

.toast_list .toast img {
  width: 225px;
  height: 225px;
}

#toasts .toast a {
  text-decoration: none;
  color: rgb(147, 29, 29);
}

#toasts .toast .name {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#toasts .toast .price {
  display: block;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.clearfix {
  clear: both;
}

#footer {
  margin-top: 100px;
  margin-bottom: 80px;
  text-align: center;
}

#footer img {
  width: 30px;
  height: 30px;
}

#footer a {
  text-decoration: none;
  margin: 0 20px;
}
